.CodeMirror *[class*="linter-"] {
    background-image: url('./underline.svg');
    background-position: bottom;
    background-repeat: repeat-x;
    padding-bottom: 3px;
    z-index: 6;
}

.CodeMirror *[class*="linter-error"] {
    background-image: url('./underline-error.svg');
}

.CodeMirror *[class*="linter-warning"] {
    background-image: url('./underline-warning.svg');
}


#error-tooltip-container {

    background: #fff;
    position: absolute;
    z-index: 15;
    left: 200px;
    top: 40px;
    pointer-events: none;

    padding: 1px 6px;
    text-align: left;

    border-radius: 3px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.24);
    display: none;
}

#function-hint-container .function-hint-content {
}