.CodeMirror *[class*="linter-"] {
    background-image: url('./underline.svg');
    background-position: bottom;
    background-repeat: repeat-x;
    padding-bottom: 3px;
    z-index: 6;
}

.CodeMirror *[class*="linter-error"] {
    background-image: url('./underline-error.svg');
}

.CodeMirror *[class*="linter-warning"] {
    background-image: url('./underline-warning.svg');
}


#error-tooltip-container {

    background: #fff;
    position: absolute;
    z-index: 15;
    left: 200px;
    top: 40px;
    pointer-events: none;

    padding: 1px 6px;
    text-align: left;

    border-radius: 3px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.24);
    display: none;
}


.tickmark-track-error {
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    width: 12px;
    z-index: 15;
    pointer-events: none;
}

.tickmark-track-error .tickmark-error {
    position: absolute;
    width: 12px;
    height: 1px;
    background-color: #FF0000;
    border-top: 1px solid #E10000;
    border-bottom: 1px solid #D40000;
    opacity: 0.85;
}


.tickmark-track-error .tickmark-warning {
    position: absolute;
    width: 12px;
    height: 1px;
    background-color: #F89406;
    border-top: 1px solid #E39406;
    border-bottom: 1px solid #D19406;
    opacity: 0.85;
}
